<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ui.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ProfileSetup4"
            android:windowSoftInputMode="adjustPan"
            android:exported="true" />
        <activity
            android:name=".ui.ProfileSetup5"
            android:windowSoftInputMode="adjustPan"
            android:exported="true" />
        <activity
        android:name=".ui.ProfileSetup1"
        android:windowSoftInputMode="adjustPan"
        android:exported="true" />
        <activity
            android:name=".ui.ProfileSetup2"
            android:windowSoftInputMode="adjustPan"
            android:exported="true" />
        <activity
            android:name=".ui.ProfileSetup3"
            android:windowSoftInputMode="adjustPan"
            android:exported="true" />
        <activity
            android:name=".ui.CuisineSelection"
            android:windowSoftInputMode="adjustPan"
            android:exported="true" />
        <activity
            android:name=".ui.DishSelection"
            android:windowSoftInputMode="adjustPan"
            android:exported="true" />
        <activity
            android:name=".ui.SignUp"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.PotentialMatches"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.Filter"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.ChatSelectActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.ChatActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.RestaurantListing"
            android:exported="true">
        </activity>
    </application>

</manifest>